<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask CRUD</title>
    <link href="/static/bootstrap-4.4.1-dist/css/ " rel="stylesheet">
    <link href="/static/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/static/bootstrap-4.4.1-dist/css/style.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Welcome to Flask Crud</h1>
            </div>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Student List <button class="btn btn-success " data-toggle="modal" data-target="#addStudent">Add
                            Student to List</button></h4>
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages%}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{message}}

                </div>

                {% endfor %}
                {%endif%}
                {%endwith%}
                <table class="table table-striped">
                    <tr>
                        <th>Serial</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                    {% for row in student%}
                    <tr>
                        <td>{{row.0}}</td>
                        <td>{{row.1}}</td>
                        <td>{{row.2}}</td>
                        <td>{{row.3}}</td>
                        <td>
                            <a href="/update/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal"
                                data-target="#editButton{{row.0}}">Edit</a>
                            <a href="/delete/{{row.0}}" class="btn btn-danger btn-xs"
                                onclick="return confirm ('are you sure you want to delete student?')">Delete</a>
                        </td>
                    </tr>

                    <div class="modal fade" id="editButton{{row.0}}" tabindex="-1" role="dialog" aria-labelledby="editButton{{row.0}}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">update student</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="myStudentForm" action="{{url_for('update')}}" method="POST">
                
                                        <div class="form-group">
                                            <label for="formName">Name:</label>
                                            <input type="hidden" name="id" value="{{row.0}}">

                                            <input type="text" class="form-control" id="formName" name="name" value="{{row.1}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="formEmail">Email:</label>
                                            <input type="email" class="form-control" id="formEmail" name="email" value="{{row.2}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="formPhone">Phone:</label>
                                            <input type="text" class="form-control" id="formPhone" name="phone" value="{{row.3}}">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">
                                                Update
                                            </button>
                                        </div>
                                    </form>
                
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

    <!--MODALS-->
    <!--ADD STUDENT MODAL-->
    <div class="modal fade" id="addStudent" tabindex="-1" role="dialog" aria-labelledby="addStudent" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addStudent">Add student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="myStudentForm" action="{{url_for('insert')}}" method="POST">

                        <div class="form-group">
                            <label for="formName">Name:</label>
                            <input type="text" class="form-control" name="name" required="1">
                        </div>
                        <div class="form-group">
                            <label for="formEmail">Email:</label>
                            <input type="email" class="form-control" name="email" required="1">
                        </div>
                        <div class="form-group">
                            <label for="formPhone">Phone:</label>
                            <input type="text" class="form-control" name="phone" required="1">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">
                                Insert Data
                            </button>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!---edit modal-->
    

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous">
    </script>
    <script src="/static/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
</body>

</html>